#info_content{
    @extend #page_content;
}
.text_box_info{
    @extend .text-area;
    width: 85%;
    color: #31515c;
    h2{
        @extend .h_text;
        text-align: center;
    }
     h4 {
         font-weight: 400;
         font-size: 25px;
         text-align: justify;
         padding: 0 1%;
     }
    h3{
        font-size: 25px;
        color: #ffa101;
        font-weight: 500;
        padding: 1%;
    }
      p {
          font-size: 16px;
          font-weight: 500;
          text-align: justify;

          a {
              text-decoration: none;
              color: #b3dee5;
          }
      }
      ul {
          background: #b3dee5;
          padding: 1% 2%;

          li {
              padding: 1% 0;
              font-weight: 500;
              font-size: 17px;
              color: #31515c;
          }
      }
}