/*This is the css for products page - Starts here */
#product_section {
    @extend #page_content;
    width: 100%;
    margin: auto;

    h2 {
        font-weight: 900;
        color: #ffa101;
        font-size: 42px;
        text-align: center;
        padding: 1%;
    }

    .product_part {
        display: flex;
        flex-flow: row wrap;
        gap: 10px;
        padding: 1%;

        .product_log {
            width: 22%;
            margin: auto !important;

            .product_box {
                overflow: hidden !important;
                height: 200px;

                .product_item {
                    img {
                        transition: .7s ease;

                        &:hover {
                            transform: scale(1.35, 1.35);
                        }
                    }
                }
            }

            a {
                text-decoration: none;

                h4 {
                    color: #ffa101;
                    text-align: center;
                }
            }
        }

    }
}

/* This is the css for products page - Ends here */

/* This is the css for blogs page */
#blogs_section{
     @extend #page_content;
     width: 100%;
     margin: auto;
     h2{
         font-weight: 900;
         color: #ffa101;
         font-size: 42px;
         text-align: center;
         padding: 1%;  
     }
   .blogs{
       padding: 1% 1%;
       margin: auto;
       .blog_box{
          margin: auto;
          padding: 1%;
           &:hover {
               box-shadow: 0px 0px 10px grey;
           }
        a{
            text-decoration: none;
            color: #31515c;
             .bloginfo_sec {
                 display: flex;
                 justify-content: space-between;
                 color: #31515c;
             }
             .blogs_content {
                 padding: 1% 0;
                 h3 {
                     color: #31515c;
                     text-align: justify;
                 }
                 p {
                     color: #31515c;
                     text-align: justify;
                 }
                 a{
                     padding: 2% 0;
                     color: blue;

                 }
             }
             }
        }
   }
}

/* This is the css for blogs page */

/*This is the Css for Events page - Starts here */
#events_section{
    @extend #page_content;
    width: 100%;
    margin: auto;
     h2 {
         font-weight: 900;
         color: #ffa101;
         font-size: 42px;
         text-align: center;
         padding: 1%;
     }
     .events_sec {
         display: flex;
         flex-direction: column;
         align-items: center;
         width: 100%;
         padding: 1%;
         .eventbox {
             padding: 1%;
             margin: 5px auto;
             border-radius: 5px;
             width: 90%;
             transition: .3s ease-out;
             &:hover {
                 box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.4);
             }

             a {
                 text-align: justify;
                 text-decoration: none;
                 color: #31515c;
                 font-size: 19px;
                 font-weight: 400;
                 text-align: justify;

                 span {
                     color: #31515c;
                     font-weight: 200;
                     font-size: 16px;
                     
                 }
             }

         }

         
         }

     }





/*This is the Css for Events page - ends here */
