/*This is the css for products page - Starts here */
#product_section {
    @extend #page_content;
    width: 100%;
    margin: auto;

    h2 {
        font-weight: 900;
        color: #ffa101;
        font-size: 42px;
        text-align: center;
        padding: 1%;
    }

    .product_part {
        display: flex;
        flex-flow: row wrap;
        gap: 10px;
        padding: 1%;

        .product_log {
            width: 22%;
            margin: auto !important;

            .product_box {
                overflow: hidden !important;
                height: 200px;

                .product_item {
                    img {
                        transition: .7s ease;

                        &:hover {
                            transform: scale(1.35, 1.35);
                        }
                    }
                }
            }

            a {
                text-decoration: none;

                h4 {
                    color: #ffa101;
                    text-align: center;
                }
            }
        }

    }
}

/* This is the css for products page - Ends here */

/* This is the css for blogs page */
#blogs_section{
     @extend #page_content;
     width: 100%;
     margin: auto;
     h2{
         font-weight: 900;
         color: #ffa101;
         font-size: 42px;
         text-align: center;
         padding: 1%;  
     }
   
}

/* This is the css for blogs page */