
/*This is the entire css for services part */
/*This is the css for Veganism page-Fitness Page- Addiction Free  -Starts Here */
#page_content {
    background: rgba(250, 230, 177, 0.3);
    height: auto;
    padding: 1%;
}
.text-area{
    width: 50%;
    height: auto;
    padding: 1%;
    margin: auto;
    .h_text{
        font-weight: 900;
        color: #ffa101;
        font-size: 42px;
        text-align: left;
        padding: 0 1%;
    }
    h4{
        font-weight: 400;
        font-size: 25px;
        text-align: justify;
        padding: 0 1%;
    }
 
    p{
        font-size: 16px;
        font-weight: 500;
        text-align: justify;
        a{
            text-decoration: none;
            color: #b3dee5;
        }
    }
  .imgbox{
      width: 90%;
      height: 50%;
      margin: auto;
      .center_box{
          background: #b3dee5;
          width: 90%;
          padding: 1%;
          h2{
              font-size: 30px;
              color: #ffa101;
              font-weight: 700;
              padding: 1%;
          }
          ul{
              background: #b3dee5;
              padding: 1% 2%;
              li{
                  padding: 1% 0;
                  font-weight: 500;
                  font-size: 17px;
                  color: #31515c;
              }
          }
      }
      h3{
          color: #ffa101;
          font-size: 35px;
          font-weight: 800;
      }
  }
}


/*This is the css for Veganism page -Ends Here */



/*This is the css for info section that contains... Disclaimer, Terms and condtion and Privacy Policy pages.. Starts Here */
#info_content {
    @extend #page_content;
}

.text_box_info {
    @extend .text-area;
    width: 85%;
    color: #31515c;

    h2 {
        @extend .h_text;
        text-align: center;
    }

    h4 {
        font-weight: 400;
        font-size: 25px;
        text-align: justify;
        padding: 0 1%;
    }

    h3 {
        font-size: 25px;
        color: #ffa101;
        font-weight: 500;
        padding: 1%;
    }

    p {
        font-size: 16px;
        font-weight: 500;
        text-align: justify;

        a {
            text-decoration: none;
            color: #b3dee5;
        }
    }

    ul {
        background: #b3dee5;
        padding: 1% 2%;

        li {
            padding: 1% 0;
            font-weight: 500;
            font-size: 17px;
            color: #31515c;
        }
    }
}

/*This is the css for info section that contains... Disclaimer, Terms and condtion and Privacy Policy pages.. Ends Here */