@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway',
        sans-serif;
}

p {
    font-family: 'Quicksand',
        sans-serif;
}

.img-res {
    width:100%;
    height: auto;
}

#about_page {
    background: linear-gradient(100deg, tomato, lightblue);
    height: 100vh;
}